<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset='UTF-8'>
	<title>Правильные ответики</title>
</head>
<body>

	<p>Что же это были за непонятные слова такие?</p>
	комса: Комсомольская <br>
	севас: Севастольская <br>
	крыло: Крылатское <br>
	шабла: Шаболовская <br>
	савок: Савёловская <br>
	
	<p>Для удобства эти станции выделены на карте красным маркером.</p>
	
	<img src="{{url_for('static', filename='map.jpg')}}" />

<p><a href='/'>главная страница</a></p>
<p><a href='/stats'>статистика</a></p>
<p><a href='/json'>json</a></p>
<p><a href='/search'>поиск</a></p>
</body>
</html>